@page {
  margin-bottom: 5pt;
  margin-top: 5pt;
}

@font-face {
  font-family: AvenirLTStd45Book;
  src: url("AvenirLTStd45Book.otf");
}

html,
body {
  display: block;
  font-size: 1em;
  margin-bottom: 0;
  margin-left: 5pt;
  margin-right: 5pt;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: "AvenirLTStd45Book";
}

@media print {
  .page {
    height: auto;
    border-bottom: 0;
  }
}

.title--blue {
  color: #4a91c5;
}

.title--brown {
  color: #7e432d;
}

.title--brown--gradient {
  border-top: #da5138 1px solid;
  background: rgb(107, 166, 205);
  background: linear-gradient(180deg,
      rgba(107, 166, 205, 1) 0%,
      rgba(255, 255, 255, 1) 100%);
  color: #7e432d;
}

.page {
  min-height: 100vh;
  border-bottom: 1px solid black;
}

.pointer {
  cursor: pointer;
}

.cover-background--blue {
  background-color: #acd5e8;
}

.background--blue {
  border-radius: 5px;
  background-color: #dee3dc;
}

.background--yellow {
  background-color: #fef7d4;
}

.background--salmon {
  background-color: #f8d6c7;
}

.center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.box {
  margin: 0 160px;
  padding: 16px;
  border: 1px solid black;
}

.box--yellow {
  padding: 16px;
  border: 1px solid yellow;
}

.two-blocks-right {
  display: grid;
  grid-template-columns: 1fr minmax(250px, 25%);
}

.two-blocks-left {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
}

.justify {
  text-align: justify;
  text-justify: inter-word;
  margin: 10rem;
}

.padding1 {
  padding: 16px;
}

.calibre1 {
  display: block;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}

.calibre2 {
  height: auto;
  width: auto;
}

.image-responsive {
  height: auto;
  width: 100%;
}

.calibre3 {
  font-weight: bold;
}

.calibre4 {
  display: block;
  font-size: 1.66667em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.83em;
  page-break-before: always;
}

.calibre5 {
  font-weight: bold;
  line-height: 1.2;
}

.calibre6 {
  font-style: italic;
}

.sigilnotintoc {
  display: block;
  font-size: 1.29167em;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1em;
}